{% block base_doctype %}<!DOCTYPE html>{% endblock %}

{% block base_html %}
<html lang="{{ context.languageInfo.localeCode }}"
      itemscope="itemscope"
      itemtype="https://schema.org/WebPage">
{% endblock %}
{% set isHMRMode = app.request.headers.get('hot-reload-mode') and app.environment == 'dev' %}
{% block base_head %}
    {% sw_include '@Storefront/storefront/layout/meta.html.twig' %}
{% endblock %}
{% block base_body %}
    <body class="{% block base_body_classes %}is-ctl-{% if controllerName is not empty %}{{ controllerName|lower }}{% endif %} is-act-{% if controllerAction is not empty %}{{ controllerAction|lower }}{% endif %}{% endblock %}">
    {% block base_body_skip_to_content %}
        {% sw_include '@Storefront/storefront/component/skip-to-content.html.twig' with {
            skipToSearch: true,
            skipToMainNav: true
        } %}
    {% endblock %}
    {% block base_body_inner %}
        {% block base_noscript %}
            <noscript class="noscript-main">
                {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                    type: 'info',
                    content: 'general.noscriptNotice'|trans|sw_sanitize,
                    iconCache: false
                } %}
            </noscript>
        {% endblock %}
        {% block base_esi_header %}
            {{ render_esi(path('frontend.header', { headerParameters: headerParameters }), { ignore_errors: false } ) }}
        {% endblock %}

        {% block base_navigation_styling %}
            {% sw_include '@Storefront/storefront/layout/navigation/active-styling.html.twig' %}
        {% endblock %}
        {% block base_main %}
            <main class="content-main" id="content-main">
            </main>
        {% endblock %}
    {% endblock %}
    {% block base_body_script %}
    {% endblock %}
    </body>
{% endblock %}
</html>