   {% block base_navigation %}
    <div class="nav-items">
        {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
        <div class="nav-main">
            {% block base_navigation_inner %}
                {% sw_include '@Storefront/storefront/layout/navbar/navbar.html.twig' with { header: header } %}
            {% endblock %}
        </div>
        <div class="nav-icons">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="1" y="1" width="38" height="38" rx="11" stroke="white" stroke-width="2"/>
            <path d="M27.9417 27.0583L24.7408 23.8575C25.8108 22.5883 26.4583 20.9525 26.4583 19.1667C26.4583 15.1458 23.1875 11.875 19.1667 11.875C15.1458 11.875 11.875 15.1458 11.875 19.1667C11.875 23.1875 15.1458 26.4583 19.1667 26.4583C20.9525 26.4583 22.5883 25.8108 23.8575 24.7408L27.0583 27.9417C27.18 28.0633 27.34 28.125 27.5 28.125C27.66 28.125 27.82 28.0642 27.9417 27.9417C28.1858 27.6983 28.1858 27.3025 27.9417 27.0583ZM13.125 19.1667C13.125 15.835 15.835 13.125 19.1667 13.125C22.4983 13.125 25.2083 15.835 25.2083 19.1667C25.2083 22.4983 22.4983 25.2083 19.1667 25.2083C15.835 25.2083 13.125 22.4983 13.125 19.1667Z" fill="white" stroke="white" stroke-width="0.5"/>
            </svg>

            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="1" y="1" width="38" height="38" rx="11" stroke="white" stroke-width="2"/>
            <path d="M25.4166 16.0417H23.5416V15.4167C23.5416 13.4633 21.9533 11.875 19.9999 11.875C18.0466 11.875 16.4583 13.4633 16.4583 15.4167V16.0417H14.5833C13.5499 16.0417 12.7083 16.8825 12.7083 17.9167V25C12.7083 27.015 13.8183 28.125 15.8333 28.125H24.1666C26.1816 28.125 27.2916 27.015 27.2916 25V17.9167C27.2916 16.8825 26.4499 16.0417 25.4166 16.0417ZM17.7083 15.4167C17.7083 14.1525 18.7358 13.125 19.9999 13.125C21.2641 13.125 22.2916 14.1525 22.2916 15.4167V16.0417H17.7083V15.4167ZM26.0416 25C26.0416 26.3142 25.4808 26.875 24.1666 26.875H15.8333C14.5191 26.875 13.9583 26.3142 13.9583 25V17.9167C13.9583 17.5717 14.2391 17.2917 14.5833 17.2917H16.4583V19.1667C16.4583 19.5117 16.7383 19.7917 17.0833 19.7917C17.4283 19.7917 17.7083 19.5117 17.7083 19.1667V17.2917H22.2916V19.1667C22.2916 19.5117 22.5716 19.7917 22.9166 19.7917C23.2616 19.7917 23.5416 19.5117 23.5416 19.1667V17.2917H25.4166C25.7608 17.2917 26.0416 17.5717 26.0416 17.9167V25Z" fill="white" stroke="white" stroke-width="0.5"/>
            </svg>

            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="1" y="1" width="38" height="38" rx="11" stroke="white" stroke-width="2"/>
            <path d="M20.0076 18.9583C18.0543 18.9583 16.4659 17.3692 16.4659 15.4167C16.4659 13.4642 18.0543 11.875 20.0076 11.875C21.9609 11.875 23.5492 13.4642 23.5492 15.4167C23.5492 17.3692 21.9609 18.9583 20.0076 18.9583ZM20.0076 13.125C18.7434 13.125 17.7159 14.1525 17.7159 15.4167C17.7159 16.6808 18.7434 17.7083 20.0076 17.7083C21.2717 17.7083 22.2992 16.6808 22.2992 15.4167C22.2992 14.1525 21.2709 13.125 20.0076 13.125ZM23.3308 28.125H16.6693C14.6526 28.125 13.5417 27.0208 13.5417 25.0158C13.5417 22.7983 14.7967 20.2083 18.3334 20.2083H21.6667C25.2034 20.2083 26.4584 22.7975 26.4584 25.0158C26.4584 27.0208 25.3475 28.125 23.3308 28.125ZM18.3334 21.4583C15.0476 21.4583 14.7917 24.1808 14.7917 25.0158C14.7917 26.3192 15.3535 26.875 16.6693 26.875H23.3308C24.6467 26.875 25.2084 26.3192 25.2084 25.0158C25.2084 24.1817 24.9526 21.4583 21.6667 21.4583H18.3334Z" fill="white" stroke="white" stroke-width="0.5"/>
            </svg>
        </div>
    </div>
    {% endblock %}
