{% block layout_header %}

    {% block layout_header_navigation %}
        <div class="header">
             <span>{{ theme_config('headerText1') }}</span>
            <span>{{ theme_config('headerText2') }}</span>
            <span>{{ theme_config('headerText3') }}</span>
        </div>
    {% endblock %}
{% endblock %}
